[Unit]
Description=Ustawianie jądra XanMod jako domyślnego

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-xanmod-default

[Install]
WantedBy=multi-user.target
