*.lua linguist-detectable=true
*.lua linguist-documentation=false
*.lua linguist-language=LUA

*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON

*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
*.yaml linguist-language=YAML

*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yml linguist-language=YAML

*.desktop linguist-detectable=true
*.desktop linguist-documentation=false
*.desktop linguist-language=INI

*.conf linguist-detectable=true
*.conf linguist-documentation=false
*.conf linguist-language=YAML

*.hk linguist-detectable=true
*.hk linguist-documentation=false
*.hk linguist-language=HK

*.hl linguist-detectable=true
*.hl linguist-documentation=false
*.hl linguist-language=Hacker-Lang

*.hook.chroot linguist-detectable=true
*.hook.chroot linguist-documentation=false
*.hook.chroot linguist-language=SHELL

*.list.chroot linguist-detectable=true
*.list.chroot linguist-documentation=false
*.list.chroot linguist-language=TEXT

os-release linguist-detectable=true
os-release linguist-documentation=false
os-release linguist-language=SHELL

build-hackeros linguist-detectable=true
build-hackeros linguist-documentation=false
build-hackeros linguist-language=LUA

build-hackeros-gaming linguist-detectable=true
build-hackeros-gaming linguist-documentation=false
build-hackeros-gaming linguist-language=LUA

build-hackeros-cybersecurity linguist-detectable=true
build-hackeros-cybersecurity linguist-documentation=false
build-hackeros-cybersecurity linguist-language=LUA

build-hackeros-hydra linguist-detectable=true
build-hackeros-hydra linguist-documentation=false
build-hackeros-hydra linguist-language=LUA

build-hackeros-blue linguist-detectable=true
build-hackeros-blue linguist-documentation=false
build-hackeros-blue linguist-language=LUA

build-hackeros-hwde linguist-detectable=true
build-hackeros-hwde linguist-documentation=false
build-hackeros-hwde linguist-language=LUA

build-hackeros-gnome linguist-detectable=true
build-hackeros-gnome linguist-documentation=false
build-hackeros-gnome linguist-language=LUA

build-hackeros-xfce linguist-detectable=true
build-hackeros-xfce linguist-documentation=false
build-hackeros-xfce linguist-language=LUA

.all-in-one linguist-detectable=true
.all-in-one linguist-documentation=false
.all-in-one linguist-language=SHELL

hostname linguist-detectable=true
hostname linguist-documentation=false
hostname linguist-language=TEXT
