[Unit]
Description=Start HDM
After=network.target

[Service]
Type=simple
ExecStart=cage /usr/bin/hdm
Restart=on-failure

[Install]
WantedBy=multi-user.target
