[Unit]
Description=Start HDM Script
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/starthdm
Restart=on-failure

[Install]
WantedBy=multi-user.target
