[Desktop Entry]
Name=Proton Updater
Comment=Update ProtonGE.
Exec=/usr/share/HackerOS/Scripts/Bin/Proton-Updater.sh
Icon=/usr/share/HackerOS/ICONS/Proton-Updater.png
Terminal=false
Type=Application
Categories=Network;Game;System;
